<div class="container-fluid">
    <div class="row bg-white has-shadow">
        <div id="main-content" style="width: 100%" ui-view>
            <div ng-controller="DepartmentCtrl">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary" ng-click="add()">Add</button>
                    </div>
                </div>
                <table id="data-table" datatable="ng" dt-options="dtOptions" width="100%" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>IsActive</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="department in DepartmentList">
                            <td>{{department.Name}}</td>
                            <td>{{department.Description}}</td>
                            <td>{{department.IsActive}}</td>
                            <td>
                                <button type="button" class="btn btn-warning btn-sm" ng-click="edit(department)">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm" ng-click="delete(department)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <ul style="float: right" uib-pagination total-items="NumberofDepartment" ng-model="bigCurrentPage" max-size="5" class="pagination" boundary-link-numbers="true" rotate="false" ng-change="init()"></ul>
                    </div>
                </div>

                <div class="modal modal-message fade" id="modal-action" style="z-index: 10500">
                    <div class="modal-dialog" style="width: 50%">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{{actionstatus}} Department</h4>
                                <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                            </div>
                            <!--if action is add / edit-->
                            <div ng-if="actionstatus != 'Delete'" class="modal-body">
                                <div ng-if="actionstatus == 'Create' || actionstatus == 'Update'" ng-class="(Department.Name == null || Department.Name == '') && isValidate == false ? 'form-group row has-danger' : 'form-group row'">
                                    <label class="col-sm-3 form-control-label">Name*</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-success" placeholder="Name" ng-model="Department.Name">
                                        <small class="text-danger" ng-if="(Department.Name == null || Department.Name == '') && isValidate == false">Name is required</small>
                                    </div>
                                </div>
                                <div ng-if="actionstatus == 'Create' || actionstatus == 'Update'" class="form-group row">
                                    <label class="col-sm-3 form-control-label">Description</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-success" placeholder="Description" ng-model="Department.Description">
                                        <!--<small class="text-danger" ng-if="(Department.Name == null || Department.Name == '') && isValidate == false">Name is required</small>-->
                                    </div>
                                </div>
                                <div ng-init="Department.IsActive = true" ng-if="actionstatus == 'Create' || actionstatus == 'Update'" class="form-group row">
                                    <label class="col-sm-3 form-control-label">IsActive</label>
                                    <div class="col-sm-9">
                                        <input type="radio" name="IsActive" ng-model="Department.IsActive" data-ng-value="true" class="radio-template" /> True
                                        <input type="radio" name="IsActive" ng-model="Department.IsActive" data-ng-value="false" class="radio-template" /> False<br />
                                        <!--<small class="text-danger" ng-if="(Department.IsActive == null || Department.IsActive == '') && isValidate == false">IsActive is required</small>-->
                                    </div>
                                </div>

                            </div>

                            <!--if action is delete-->
                            <div ng-if="actionstatus == 'Delete'" class="modal-body">
                                Are you sure you want to delete this Department ?
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:;" class="btn btn-default btn-width btn-margin" data-dismiss="modal">Cancel</a>
                                <button ng-if="actionstatus == 'Create'" type="button" class="btn btn-primary btn-width" ng-click="CreateDepartment()">
                                    <span>Create</span>
                                </button>
                                <button ng-if="actionstatus == 'Update'" type="button" class="btn btn-warning btn-width" ng-click="EditDepartment()">
                                    <span>Update</span>
                                </button>
                                <button ng-if="actionstatus == 'Delete'" type="button" class="btn btn-danger btn-width" ng-click="DeleteDepartment()">
                                    <span>Delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


