<div class="container-fluid">
    <div class="row bg-white has-shadow">
        <div id="main-content" style="width: 100%" ui-view>
            <div ng-controller="MovementRequestCtrl">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label">Location:</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="searchobj.LocationID">
                                    <option ng-repeat="location in locationlist"ng-value="{{location.Location.ID}}">{{location.Location.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label">Approval Status:</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="searchobj.ApprovalStatus">
                                    <option ng-repeat="approvalstatus in approvalstatuslist" value="{{approvalstatus.Code}}">{{approvalstatus.Value}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-primary" ng-click="Search()">Search</button>
                                <button type="button" class="btn btn-secondary" ng-click="CancelSearch()">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" ng-click="add()">Add</button>
                    </div>
                    <div class="table-responsive">
                        <table id="data-table" datatable="ng" dt-options="dtOptions" width="100%" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Movement Date</th>
                                <th>Description</th>
                                <th>Location</th>
                                <th>Approval Status</th>
                                <th>Approved Date</th>
                                <th>Approved By</th>
                                <th>Notes</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="movementrequest in movementrequestlist">
                                <td>{{movementrequest.MovementRequest.MovementDate}}</td>
                                <td>{{movementrequest.MovementRequest.Description}}</td>
                                <td>{{movementrequest.MovementRequest.LocationName}}</td>
                                <td>{{movementrequest.MovementRequest.ApprovalStatusName}}</td>
                                <td>{{movementrequest.MovementRequest.ApprovedDate}}</td>
                                <td>{{movementrequest.MovementRequest.ApprovedBy}}</td>
                                <td>{{movementrequest.MovementRequest.Notes}}</td>
                                <td>
                                    <button type="button" class="btn btn-warning btn-sm" ng-click="edit(movementrequest)">Edit</button>
                                    <button ng-disabled="movementrequest.MovementRequest.ApprovalStatus == 1" type="button" class="btn btn-danger btn-sm" ng-click="deletemodal(movementrequest)">Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <ul style="float: right" uib-pagination total-items="NumberofMovementRequest" ng-model="bigCurrentPage" max-size="5" class="pagination" boundary-link-numbers="true" rotate="false" ng-change="init()"></ul>
                        </div>
                    </div>

                    <div class="modal modal-message fade" id="modal-action" style="z-index: 10500">
                        <div class="modal-dialog" style="width: 80%">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Movement Request Delete</h4>
                                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                                </div>
                                <!--if action is delete-->
                                <div class="modal-body">
                                    Are you sure you want to delete this movement request ?
                                </div>
                                <div class="modal-footer">
                                    <a href="javascript:;" class="btn btn-default btn-width btn-margin" data-dismiss="modal">Cancel</a>
                                    <button type="button" class="btn btn-default btn-width" ng-click="DeleteMovementRequest()">
                                        <span>Delete</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
    </div>
</div>


