@model Aston.Entities.UserViewModel

@{
    ViewData["Title"] = "Delete Role";
}

<form asp-action="DeleteRole">
    <div class="form-horizontal">
   
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <h4>Are you sure you want to delete this?</h4>
        <br />
        <div class="form-group">
            <label asp-for="Username" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Username" class="form-control" disabled />
                <span asp-validation-for="Username" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Role" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Role" class="form-control" disabled />
                <span asp-validation-for="Role" class="text-danger" />
            </div>
        </div>
        @Html.HiddenFor(model=>model.Id)
        @Html.HiddenFor(model=>model.Role)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
                <input type="button" value="Back to List" class="btn btn-default" onclick="window.location.href='@Url.Action("Index","Account")'" />
            </div>
        </div>
    </div>
</form>
