@model Aston.Entities.UserViewModel



<div class="container-fluid">
    <div class="articles card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Are you sure you want to delete this?</h3>
        </div>
        <form asp-action="Delete">
            <div class="form-horizontal">


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

               
                <div class="form-group">
                    <label asp-for="Username" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Username" class="form-control" disabled />
                        <span asp-validation-for="Username" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" disabled />
                        <span asp-validation-for="Email" class="text-danger" />
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                        <input type="button" value="Back to List" class="btn btn-default" onclick="window.location.href='@Url.Action("Index","Account")'" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
